@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../../fonts/inter_18pt-bold-russian.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("../../fonts/inter_18pt-medium-russian.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../../fonts/inter_18pt-regular-russian.woff2") format("woff2");
    font-display: swap;
}
